<h3 style="color: red;">UNDER CONSTRUCTION</h3>
<div class="scrollbar">
    <div class="sample">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Territory Tree</legend>
            <div class="boxData">
                <ul class="collapsibleList">
                    <li style="font-weight: bold;">
                        All Territories
                        <ul>
                            <li><a href="#">Rest of the World</a></li>
                            <li><a href="#">INDIA</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </fieldset>
    </div>
</div>