.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: orange;
    font-weight: bold !important;
}

.image {
    width: 680px;
    height: 380px !important;
    margin-left: 25px;
}

.space {
    margin-top: 30px;
}

.help-header {
    font-size: 11px;
    font-weight: inherit !important;
    color: #286090;
}

.account {
    width: 300px !important;
    height: 380px !important;
    margin-right: 25px !important;
}

.design {
    font-size: 15px;
    font-weight: inherit !important;
    font-weight: bold !important;
    color: #286090;
    margin-right: 40px !important;
    text-align: center;
    margin-top: 5px !important;
}

.carousel {
    margin-top: 20px;
}

.item .thumb {
    width: 20%;
    cursor: pointer;
    float: left;
    margin-left: 15px;
}

.item .thumb img {
    width: 98%;
}

.item img {
    width: 95%;
    margin-left: 10px;
}

.carousel-control {
    background-image: none !important;
}

.style {
    margin-left: 50px;
}

.icon {
    margin-right: 30px;
}

.width-thumb {
    height: 50px;
}