<fieldset class="scheduler-border">
    <legend class="scheduler-border">Make New PayRoll</legend>
    <div class="formData">
        <form [formGroup]="PayRollsForm" (ngSubmit)="onOrderClick($event, PayRollsForm)">
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <input type="hidden" class="form-control" path="prId" />
                        <label path="status" for="status" cssClass="required">Status</label>
                        <input class="form-control" type="hidden" path="status" />
                        <select class="form-control" name="payrollstatus" id="payrollstatus" name="status" formControlName="status" [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
                            <option value="" hidden> - Select PayRoll Status- </option>
                            <option value="null" > - Select PayRoll Status- </option>
                            <option *ngFor="let system of systemproperties" [value]="system.description">
                                {{system.description}}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                            <div *ngIf="f.status.errors.required">Status is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="fiscalYear" for="fiscalYear" cssClass="required">Fiscal Year</label>
                        <input class="form-control" type="hidden" path="fiscalYear" />
                        <select class="form-control" id="yearpicker" name="fiscalYear" formControlName="fiscalYear" [ngClass]="{ 'is-invalid': submitted && f.fiscalYear.errors }">
                            <option value="" hidden> - Select the Year - </option>
                            <option value="null" > - Select the Year - </option>
                            <option *ngFor="let system of esystemproperties" [value]="system.description">
                                {{system.description}}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.fiscalYear.errors" class="invalid-feedback">
                            <div *ngIf="f.fiscalYear.errors.required">Fiscal Year is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="empName" for="empName" cssClass="required">Employee</label>
                        <input class="form-control" type="hidden" path="empName" />
                        <select class="form-control" id="empNamelist" name="empName" formControlName="empName" [ngClass]="{ 'is-invalid': submitted && f.empName.errors }">
                            <option value="" hidden> - Select the Employee - </option>
                            <option value="null"> - Select the Employee - </option>
                            <option *ngFor="let system of vsystemproperties" [value]="system.description">
                                {{system.description}}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.empName.errors" class="invalid-feedback">
                            <div *ngIf="f.empName.errors.required">Employee is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="salarySlip" for="salarySlip" cssClass="required">Salary Slip</label>
                        <input class="form-control" path="salarySlip" name="salarySlip" formControlName="salarySlip" [ngClass]="{ 'is-invalid': submitted && f.salarySlip.errors }" />
                        <div *ngIf="submitted && f.salarySlip.errors" class="invalid-feedback">
                            <div *ngIf="f.salarySlip.errors.required">Salary Slip is Required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary submit">Submit</button>
                        <button type="button" class="btn btn-warning reset" (click)="onReset()">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</fieldset>
<!-- Grid Table Components -->
<div class="scrollbar">
    <fieldset class="scheduler-border">

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-12">
                <div class="form-group">
                    <button type="button" class="btn btn-primary submit" style="margin-right: 45px;" (click)="onGeneratePdfReport()">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>Export Pdf
                    </button>
                    <button type="button" class="btn btn-warning reset" (click)="onGenerateExcelReport()">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>Export Excel
                    </button>
                </div>
            </div>
        </div>
        
        <legend class="scheduler-border">PayRoll List</legend>
        <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;" [enableFilter]="true" [enableSorting]="true" [pagination]="true" [showToolPanel]="true" [frameworkComponents]="frameworkComponents">
        </ag-grid-angular>
    </fieldset>
</div>