<div class="manu-breadcrumb">
    <app-breadcrumb></app-breadcrumb>
</div>
<h3 style="color: red">UNDER CONSTRUCTION</h3>
<ul class="nav nav-tabs">
    <li class="active">
        <a data-toggle="tab" data-target="#order">Accounts Settings</a>
    </li>
    <li><a data-toggle="tab" data-target="#tool">Fiscal Year</a></li>
    <li><a data-toggle="tab" data-target="#stock">Currency</a></li>
    <li><a data-toggle="tab" data-target="#timesheet">Currency Exchange</a></li>
    <li>
        <a data-toggle="tab" data-target="#timesheet"
            >Payment Gateway Account</a
        >
    </li>
    <li>
        <a data-toggle="tab" data-target="#timesheet">Point-of-Sale Profile</a>
    </li>
    <li>
        <a data-toggle="tab" data-target="#timesheet"
            >Terms and Conditions Template</a
        >
    </li>
    <li><a data-toggle="tab" data-target="#timesheet">Mode of Payment</a></li>
</ul>
<div class="mobile">
    <router-outlet></router-outlet>
</div>
