<div class="manu-breadcrumb">
    <app-breadcrumb></app-breadcrumb>
</div>

<nav mat-tab-nav-bar>
	<a mat-tab-link routerLink="./app-crm-communication" routerLinkActive #communicationTab="routerLinkActive" [active]="communicationTab.isActive">Communication</a>
    <a mat-tab-link routerLink="./app-crm-cust-group" routerLinkActive #custGroupTab="routerLinkActive" [active]="custGroupTab.isActive">Customer Sales Group</a>
    <a mat-tab-link routerLink="./app-crm-territory" routerLinkActive #territoryTab="routerLinkActive" [active]="territoryTab.isActive">Territory</a>
</nav>

<router-outlet></router-outlet>