<fieldset class="scheduler-border">
    <legend class="scheduler-border">Add New Delivery Note</legend>
    <div class="formData">
        <form [formGroup]="delNoteForm" (ngSubmit)="onOrderClick($event,delNoteForm)">
            <div class="row">
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <input type="hidden" class="form-control" path="stdelId" />
                        <label path="title" for="title" cssClass="required">Title</label>
                        <input class="form-control" path="title" name="title" formControlName="title"
                            [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                            <div *ngIf="f.title.errors.required">Title is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="status" for="status" cssClass="required">Status</label>
                        <input class="form-control" type="hidden" path="status" />
                        <select class="form-control" name="stkdeliverstatuslist" id="stkdeliverstatuslist" name="status"
                            formControlName="status" [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
                            <option value="" hidden> - Select the Status - </option>
                            <option value="null"> - Select the Status - </option>
                            <option *ngFor="let system of systemproperties " [value]="system.description">
                                {{system.description}}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                            <div *ngIf="f.status.errors.required">Status is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="grandTotal" for="grandTotal" cssClass="required">Grand Total</label>
                        <input class="form-control" path="grandTotal" name="grandTotal" formControlName="grandTotal"
                            [ngClass]="{ 'is-invalid': submitted && f.grandTotal.errors }" mask="0*.00">
                        <div *ngIf="submitted && f.grandTotal.errors" class="invalid-feedback">
                            <div *ngIf="f.grandTotal.errors.required">Grand Total is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="delName" for="delName" cssClass="required">Delivery Note</label>
                        <input class="form-control" path="delName" name="delName" formControlName="delName"
                            [ngClass]="{ 'is-invalid': submitted && f.delName.errors }">
                        <div *ngIf="submitted && f.delName.errors" class="invalid-feedback">
                            <div *ngIf="f.delName.errors.required">Delivery Note is Required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary submit">Submit</button>
                        <button type="button" class="btn btn-warning reset" (click)="onReset()">Clear</button>
                    </div>
                </div>
            </div>
            <input type="hidden" name="menulink">
        </form>
    </div>
</fieldset>
<div class="scrollbar">
    <fieldset class="scheduler-border">

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-12">
                <div class="form-group">
                    <button type="button" class="btn btn-primary submit" style="margin-right: 45px;"
                        (click)="onGeneratePdfReport()">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>Export Pdf
                    </button>
                    <button type="button" class="btn btn-warning reset" (click)="onGenerateExcelReport()">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>Export Excel
                    </button>
                </div>
            </div>
        </div>

        <legend class="scheduler-border">Delivery Note List</legend>
        <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;"
            [enableFilter]="true" [enableSorting]="true" [pagination]="true" [showToolPanel]="true"
            [frameworkComponents]="frameworkComponents">
        </ag-grid-angular>
    </fieldset>
</div>