<fieldset class="scheduler-border">
    <legend class="scheduler-border">Add new Item Shortage Report</legend>
    <div class="formData">
        <form [formGroup]="shortageForm" (ngSubmit)="onOrderClick($event, shortageForm)">
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <input type="hidden" class="form-control" path="shrepid" />
                        <label path="warehouseName" for="toProduce" cssClass="required">WareHouse</label>
                        <input class="form-control" type="hidden" path="warehouseName" />
                        <select formControlName="warehouseName" class="form-control" id="warehouseList" [ngClass]="{ 'is-invalid': submitted && f.warehouseName.errors }" name="warehouseName">
                            <option value="" hidden> - Select the Warehouse - </option>
                            <option value="null" > - Select the Warehouse - </option>
                            <option *ngFor="let itemShortage of wrHouses" [value]="itemShortage.warehouseName">
                                {{itemShortage.warehouseName}}</option>
                        </select>
                        <div *ngIf="submitted && f.warehouseName.errors" class="invalid-feedback">
                            <div *ngIf="f.warehouseName.errors.required">WareHouse is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="itemCode" for="poSeries" cssClass="required">Item</label>
                        <input class="form-control" type="hidden" path="itemCode" />
                        <select formControlName="itemCode" class="form-control" id="itemCodelist" [ngClass]="{ 'is-invalid': submitted && f.itemCode.errors }" name="itemCode">
                            <option value="" hidden > - Select the Item - </option>
                            <option value="null" > - Select the Item - </option>
                            <option *ngFor="let ItemShortage of stkitems" [value]="ItemShortage.itemcode">
                                {{ItemShortage.itemcode}}</option>
                        </select>
                        <div *ngIf="submitted && f.itemCode.errors" class="invalid-feedback">
                            <div *ngIf="f.itemCode.errors.required">Item is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="actualQty" for="actualQty" cssClass="required">Actual Quantity</label>
                        <input formControlName="actualQty" class="form-control" path="actualQty" [ngClass]="{ 'is-invalid': submitted && f.actualQty.errors }" name="actualQty" mask="0*.00" />
                        <div *ngIf="submitted && f.actualQty.errors" class="invalid-feedback">
                            <div *ngIf="f.actualQty.errors.required">Actual Quantity is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="orderedQty" for="orderedQty" cssClass="required">Ordered Quantity</label>
                        <input formControlName="orderedQty" class="form-control" path="orderedQty" [ngClass]="{ 'is-invalid': submitted && f.orderedQty.errors }" name="orderedQty" mask="0*.00" />
                        <div *ngIf="submitted && f.orderedQty.errors" class="invalid-feedback">
                            <div *ngIf="f.orderedQty.errors.required">Ordered Quantity is Required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="plannedQty" for="plannedQty" cssClass="required">Planned Quantity</label>
                        <input formControlName="plannedQty" class="form-control" path="plannedQty" [ngClass]="{ 'is-invalid': submitted && f.plannedQty.errors }" name="plannedQty" mask="0*.00" />
                        <div *ngIf="submitted && f.plannedQty.errors" class="invalid-feedback">
                            <div *ngIf="f.plannedQty.errors.required">Planned Quantity is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="reservedQty" for="reservedQty" cssClass="required">Reserved Quantity</label>
                        <input formControlName="reservedQty" class="form-control" path="reservedQty" [ngClass]="{ 'is-invalid': submitted && f.reservedQty.errors }" name="reservedQty" mask="0*.00" />
                        <div *ngIf="submitted && f.reservedQty.errors" class="invalid-feedback">
                            <div *ngIf="f.reservedQty.errors.required">Reserved Quantity is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="projectedQty" for="projectedQty" cssClass="required">Projected Quantity</label>
                        <input formControlName="projectedQty" class="form-control" path="projectedQty" [ngClass]="{ 'is-invalid': submitted && f.projectedQty.errors }" name="projectedQty" mask="0*.00" />
                        <div *ngIf="submitted && f.projectedQty.errors" class="invalid-feedback">
                            <div *ngIf="f.projectedQty.errors.required">Projected Quantity is Required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary submit">Submit</button>
                        <button type="button" class="btn btn-warning reset" (click)="onReset()">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</fieldset>
<div class="scrollbar">
    <fieldset class="scheduler-border">

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-12">
                <div class="form-group">
                    <button type="button" class="btn btn-primary submit" style="margin-right: 45px;" (click)="onGeneratePdfReport()">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>Export Pdf
                    </button>
                    <button type="button" class="btn btn-warning reset" (click)="onGenerateExcelReport()">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>Export Excel
                    </button>
                </div>
            </div>
        </div>

        <legend class="scheduler-border">Item Shortage Report]</legend>
        <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;" [enableFilter]="true" [enableSorting]="true" [pagination]="true" [showToolPanel]="true" [frameworkComponents]="frameworkComponents">
        </ag-grid-angular>
    </fieldset>
</div>