<!-- <div class="card">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [yaxis]="chartOptions.yaxis"
      [legend]="chartOptions.legend"
      [fill]="chartOptions.fill"
      [stroke]="chartOptions.stroke"
      [tooltip]="chartOptions.tooltip"
      [xaxis]="chartOptions.xaxis"
    ></apx-chart>
  </div> -->



<div class="col-sm-6 col-md-4">
    <div class="mb-3 card" style="height: 520px; width: 333px; margin-right: -237px; float: right;">
<div class="card-header-tab card-header">
  <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Daily Sales</div>
  <div class="btn-actions-pane-right text-capitalize actions-icon-btn">
    
  </div>

  <div class="card-body" style="position: relative;">
      <div id="chart-col-1" style="min-height: 200px; width: 500px;">
        <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions"
        [yaxis]="chartOptions.yaxis"
        [legend]="chartOptions.legend"
        [fill]="chartOptions.fill"
        [stroke]="chartOptions.stroke"
        [tooltip]="chartOptions.tooltip"
        [xaxis]="chartOptions.xaxis"
      ></apx-chart>
</div>
</div>
</div>

<div class="p-0 d-block card-footer">
  <div class="grid-menu grid-menu-2col">
      <div class="no-gutters row">
          <div class="p-2 col-sm-6">
              <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-dark">
                  <i class="fa fa-building text-primary opacity-7 btn-icon-wrapper mb-2"></i>  Overview
              </button>
          </div>
          <div class="p-2 col-sm-6">
              <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-dark">
                  <i class="fa fa-life-ring text-danger opacity-7 btn-icon-wrapper mb-2"></i> Support
              </button>
          </div>
          <div class="p-2 col-sm-6">
              <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-dark">
                  <i class="fa fa-print text-success opacity-7 btn-icon-wrapper mb-2"></i> Activities
              </button>
          </div>
          <div class="p-2 col-sm-6">
              <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-dark">
                  <i class="fa fa-heart text-warning opacity-7 btn-icon-wrapper mb-2"></i>Marketing
              </button>
          </div>
      </div>
  </div>
</div>
</div>
</div>




 <!-- <div class="col-sm-6 col-md-4">
    <div class="mb-3 card" style="height: 520px; width: 337px; margin-right: -237px; float: right;">
        <div class="card-header-tab card-header">
            <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Daily Sales</div>
            <div class="btn-actions-pane-right text-capitalize">
                <button class="btn-wide btn-outline-2x btn btn-outline-focus btn-sm">View All</button>
            </div>
        </div>
        <div class="card-body" style="position: relative;">
            <div id="chart-col-2" style="min-height: 200px;"> -->
      
              <!-- <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [dataLabels]="chartOptions.dataLabels"
              [plotOptions]="chartOptions.plotOptions"
              [yaxis]="chartOptions.yaxis"
              [legend]="chartOptions.legend"
              [fill]="chartOptions.fill"
              [stroke]="chartOptions.stroke"
              [tooltip]="chartOptions.tooltip"
              [xaxis]="chartOptions.xaxis">
            </apx-chart> -->

            <!-- </div>
            </div>
            </div>

    </div> -->
<!-- </div> -->


<!-- <div class="p-0 d-block card-footer">
    <div class="grid-menu grid-menu-2col">
        <div class="no-gutters row">
            <div class="p-2 col-sm-6">
                <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-dark">
                    <i class="fa fa-building text-dark opacity-7 btn-icon-wrapper mb-2"> </i> Overview
                </button>
            </div>
            <div class="p-2 col-sm-6">
                <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-dark">
                    <i class="fa fa-life-ring text-dark opacity-7 btn-icon-wrapper mb-2"> </i> Support
                </button>
            </div>
            <div class="p-2 col-sm-6">
                <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-dark">
                    <i class="fa fa-print text-dark opacity-7 btn-icon-wrapper mb-2"> </i> Activities
                </button>
            </div>
            <div class="p-2 col-sm-6">
                <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-dark">
                    <i class="fa fa-building text-dark opacity-7 btn-icon-wrapper mb-2"> </i> Marketing
                </button>
            </div>
        </div>
    </div>
</div> -->

