<div class="manu-breadcrumb">
    <app-breadcrumb></app-breadcrumb>
</div>

<h1 class="help-header">PURCHASE ORDER</h1>
<div class="row">
    <div class="col-xs-8 col-sm-8">
        <h1 class="design">WEB VIEW</h1>
        <p class="help-header"> PURCHASE ORDER <span class="colon">&#58;</span></p>
        <img class="image" src="../../../../assets/images/help/general/purchase order/purchase order.png">
    </div>
    <div class=" col-xs-4 col-sm-4">
        <h1 class="design">MOBILE VIEW</h1>
        <p class="help-header">PURCHASE ORDER <span class="colon"> &#58;</span></p>
        <img class="general" src="../../../../assets/images/help/general/purchase order/purchase.png">
    </div>
</div>
<h1 class="help-header space">SALES ORDER</h1>
<div class="row space">
    <div class="col-xs-8 col-sm-8">
        <p class="help-header"> SALES ORDER &#45; SUPPORT ANALYTICS <span class="colon">&#58;</span> UNDER CONSTRUCTION</p>
    </div>
</div>
<div class="row space">
    <div class="col-xs-8 col-sm-8">
        <p class="help-header"> SALES ORDER &#45; MINUTES TO FIRST RESPONSE <span class="colon">&#58;</span> UNDER CONSTRUCTION</p>
    </div>
</div>
<h1 class="help-header space">PRODUCTION ORDER</h1>
<div class="row space">
    <div class="col-xs-8 col-sm-8">
        <p class="help-header"> PRODUCTION ORDER <span class="colon">&#58;</span></p>
        <img class="image" src="../../../../assets/images/help/general/production order/production order.png">
    </div>
    <div class=" col-xs-4 col-sm-4">
        <p class="help-header"> PRODUCTION ORDER <span class="colon">&#58;</span></p>
        <img class="general" src="../../../../assets/images/help/general/production order/production.png">
    </div>
</div>
<h1 class="help-header space">POS</h1>
<div class="row space">
    <div class="col-xs-8 col-sm-8">
        <p class="help-header"> POS <span class="colon">&#58;</span> UNDER CONSTRUCTION</p>
    </div>
</div>
<h1 class="help-header space">ITEM</h1>
<div class="row space">
    <div class="col-xs-8 col-sm-8">
        <p class="help-header"> ITEM &#45; SALES ORDER <span class="colon">&#58;</span></p>
        <img class="image" src="../../../../assets/images/help/general/item/sales order.png">
    </div>
    <div class=" col-xs-4 col-sm-4">
        <p class="help-header"> ITEM &#45; SALES ORDER <span class="colon">&#58;</span></p>
        <img class="general" src="../../../../assets/images/help/general/item/sales.png">
    </div>
</div>
<div class="row space">
    <div class="col-xs-8 col-sm-8">
        <p class="help-header"> ITEM &#45; ITEM DETAILS <span class="colon">&#58;</span></p>
        <img class="image" src="../../../../assets/images/help/general/item/item details.png">
    </div>
    <div class=" col-xs-4 col-sm-4">
        <p class="help-header"> ITEM &#45; ITEM DETAILS <span class="colon">&#58;</span></p>
        <img class="general" src="../../../../assets/images/help/general/item/item.png">
    </div>
</div>
<div class="row space">
    <div class="col-xs-8 col-sm-8">
        <p class="help-header"> ITEM &#45; ORDER DETAILS <span class="colon">&#58;</span></p>
        <img class="image" src="../../../../assets/images/help/general/item/order details.png">
    </div>
    <div class=" col-xs-4 col-sm-4">
        <p class="help-header"> ITEM &#45; ORDER DETAILS <span class="colon">&#58;</span></p>
        <img class="general" src="../../../../assets/images/help/general/item/order.png">
    </div>
</div>
<h1 class="help-header space">TASK</h1>
<div class="row space">
    <div class="col-xs-8 col-sm-8">
        <p class="help-header"> TASK <span class="colon">&#58;</span></p>
        <img class="image" src="../../../../assets/images/help/general/task/task.png">
    </div>
    <div class=" col-xs-4 col-sm-4">
        <p class="help-header"> TASK <span class="colon">&#58;</span></p>
        <img class="general" src="../../../../assets/images/help/general/task/tasks.png">
    </div>
</div>
<h1 class="help-header space">CUSTOMER</h1>
<div class="row space">
    <div class="col-xs-8 col-sm-8">
        <p class="help-header"> CUSTOMER &#45; Customer Acquisition And Loyalty <span class="colon">&#58;</span></p>
        <img class="image" src="../../../../assets/images/help/general/customer/customer Acquisition And Loyalty.png">
    </div>
    <div class=" col-xs-4 col-sm-4">
        <p class="help-header"> CUSTOMER &#45; Customer Acquisition And Loyalty <span class="colon">&#58;</span></p>
        <img class="general" src="../../../../assets/images/help/general/customer/customer acquisition.png">
    </div>
</div>
<div class="row space">
    <div class="col-xs-8 col-sm-8">
        <p class="help-header"> CUSTOMER &#45; CUSTOMER DETAILS <span class="colon">&#58;</span></p>
        <img class="image" src="../../../../assets/images/help/general/customer/customer details.png">
    </div>
    <div class=" col-xs-4 col-sm-4">
        <p class="help-header"> CUSTOMER &#45; CUSTOMER DETAILS <span class="colon">&#58;</span></p>
        <img class="general" src="../../../../assets/images/help/general/customer/details.png">
    </div>
</div>
<div class="row space">
    <div class="col-xs-8 col-sm-8">
        <p class="help-header"> CUSTOMER &#45; CUSTOMER CREDIT BALANCE <span class="colon">&#58;</span></p>
        <img class="image" src="../../../../assets/images/help/general/customer/customer credit balance.png">
    </div>
    <div class=" col-xs-4 col-sm-4">
        <p class="help-header"> CUSTOMER &#45; CUSTOMER CREDIT BALANCE <span class="colon">&#58;</span></p>
        <img class="general" src="../../../../assets/images/help/general/customer/credit balance.png">
    </div>
</div>
<h1 class="help-header space">FILE MANAGER</h1>
<div class="row space">
    <div class="col-xs-8 col-sm-8">
        <p class="help-header"> FILE MANAGER <span class="colon">&#58;</span></p>
        <img class="image" src="../../../../assets/images/help/general/file manager/file manager.png">
    </div>
    <div class=" col-xs-4 col-sm-4">
        <p class="help-header"> FILE MANAGER <span class="colon">&#58;</span></p>
        <img class="general" src="../../../../assets/images/help/general/file manager/file.png">
    </div>
</div>
<h1 class="help-header space">LEAD</h1>
<div class="row space">
    <div class="col-xs-8 col-sm-8">
        <p class="help-header"> LEAD DETAILS <span class="colon">&#58;</span></p>
        <img class="image" src="../../../../assets/images/help/general/lead/lead details.png">
    </div>
    <div class=" col-xs-4 col-sm-4">
        <p class="help-header"> LEAD DETAILS <span class="colon">&#58;</span></p>
        <img class="general" src="../../../../assets/images/help/general/lead/lead.png">
    </div>
</div>
<h1 class="help-header space">SUPPLIER</h1>
<div class="row space">
    <div class="col-xs-8 col-sm-8">
        <p class="help-header"> SUPPLIER <span class="colon">&#58;</span></p>
        <img class="image" src="../../../../assets/images/help/general/supplier/supplier.png">
    </div>
    <div class=" col-xs-4 col-sm-4">
        <p class="help-header"> SUPPLIER <span class="colon">&#58;</span></p>
        <img class="general" src="../../../../assets/images/help/general/supplier/suppliers.png">
    </div>
</div>
<h1 class="help-header space">ISSUES</h1>
<div class="row space">
    <div class="col-xs-8 col-sm-8">
        <p class="help-header"> ISSUES <span class="colon">&#58;</span> UNDER CONSTRUCTION</p>
    </div>
</div>
<h1 class="help-header space">STOCK ENTRY</h1>
<div class="row space">
    <div class="col-xs-8 col-sm-8">
        <p class="help-header"> STOCK DETAILS <span class="colon">&#58;</span></p>
        <img class="image" src="../../../../assets/images/help/general/stock entry/stock details.png">
    </div>
    <div class=" col-xs-4 col-sm-4">
        <p class="help-header"> STOCK DETAILS <span class="colon">&#58;</span></p>
        <img class="general" src="../../../../assets/images/help/general/stock entry/details.png">
    </div>
</div>
<h1 class="help-header space">PROFIT AND LOSS STATEMNETS</h1>
<div class="row space">
    <div class="col-xs-8 col-sm-8">
        <p class="help-header"> PROFIT AND LOSS STATEMNETS <span class="colon">&#58;</span> UNDER CONSTRUCTION</p>
    </div>
</div>
<h1 class="help-header space">BUDGET VARIANCE REPORT</h1>
<div class="row space">
    <div class="col-xs-8 col-sm-8">
        <p class="help-header"> BUDGET VARIANCE REPORT <span class="colon">&#58;</span> UNDER CONSTRUCTION</p>
    </div>
</div>
<h1 class="help-header space">ITEM WISE SALES REGISTER</h1>
<div class="row space">
    <div class="col-xs-8 col-sm-8">
        <p class="help-header"> ITEM WISE SALES REGISTER <span class="colon">&#58;</span> UNDER CONSTRUCTION</p>
    </div>
</div>
<h1 class="help-header space">ITEM REPORTS</h1>
<div class="row space">
    <div class="col-xs-8 col-sm-8">
        <p class="help-header"> ITEM REPORTS <span class="colon">&#58;</span></p>
        <img class="image" src="../../../../assets/images/help/general/item reports/item.png">
    </div>
    <div class=" col-xs-4 col-sm-4">
        <p class="help-header"> ITEM REPORTS <span class="colon">&#58;</span></p>
        <img class="general" src="../../../../assets/images/help/general/item reports/items.png">
    </div>
</div>
<h1 class="help-header space">CUSTOMER REPORTS</h1>
<div class="row space">
    <div class="col-xs-8 col-sm-8">
        <p class="help-header"> CUSTOMER DETAILS <span class="colon">&#58;</span></p>
        <img class="image" src="../../../../assets/images/help/general/customer report/customer details.png">
    </div>
    <div class=" col-xs-4 col-sm-4">
        <p class="help-header"> CUSTOMER DETAILS <span class="colon">&#58;</span></p>
        <img class="general" src="../../../../assets/images/help/general/customer report/customer.png">
    </div>
</div>
<h1 class="help-header space">EXPLORE</h1>
<div class="row space">
    <div class="col-xs-8 col-sm-8">
        <p class="help-header"> EXPLORE <span class="colon">&#58;</span> UNDER CONSTRUCTION</p>
    </div>
</div>