<fieldset class="scheduler-border">
    <legend class="scheduler-border">Add New Employee Holiday Work details</legend>
    <div class="formData">
        <form [formGroup]="workForm" (ngSubmit)="onOrderClick($event, workForm)">
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <div class="p-fluid p-grid p-formgrid">
                            <div class="p-field p-col-12 p-md-5">
                                <label path="fromDate" for="fromDate" cssClass="required">From Date</label>
                                <p-calendar [monthNavigator]="true" [yearNavigator]="true" formControlName="fromDate" name="fromDate" yearRange="2000:2030" inputId="navigators" [showIcon]="true" inputId="icon"></p-calendar>
                                <div *ngIf="submitted && f.fromDate.errors" class="invalid-feedback">
                                    <div *ngIf="f.fromDate.errors.required">From Date is Required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <div class="p-fluid p-grid p-formgrid">
                            <div class="p-field p-col-12 p-md-5">
                                <label path="toDate" for="toDate" cssClass="required">To Date</label>
                                <p-calendar [monthNavigator]="true" [yearNavigator]="true" formControlName="toDate" name="toDate" yearRange="2000:2030" inputId="navigators" [showIcon]="true" inputId="icon"></p-calendar>
                                <div *ngIf="submitted && f.toDate.errors" class="invalid-feedback">
                                    <div *ngIf="f.toDate.errors.required">To Date is Required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="empNumber" for="empNumberlist" cssClass="required">Employee Number</label>
                        <input class="form-control" type="hidden" path="empNumber" />
                        <select formControlName="empNumber" class="form-control" id="empNumberlist" [ngClass]="{ 'is-invalid': submitted && f.empNumber.errors }" name="empNumber">
                            <option value="" hidden> - Select the Employee Number - </option>
                            <option value="null" > - Select the Employee Number - </option>
                            <option *ngFor="let system of numsystemproperties" [value]="system.description">
                                {{system.description}}</option>
                        </select>
                        <div *ngIf="submitted && f.empNumber.errors" class="invalid-feedback">
                            <div *ngIf="f.empNumber.errors.required">Employee Number is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="empName" for="empNamelist" cssClass="required">Employee Name</label>
                        <input class="form-control" type="hidden" path="empName" />
                        <select formControlName="empName" class="form-control" id="empNamelist" [ngClass]="{ 'is-invalid': submitted && f.empName.errors }" name="empName">
                            <option value="" hidden> - Select the Employee Name - </option>
                            <option value="null" > - Select the Employee Name - </option>
                            <option *ngFor="let system of empsystemproperties" [value]="system.description">
                                {{system.description}}</option>
                        </select>
                        <div *ngIf="submitted && f.empName.errors" class="invalid-feedback">
                            <div *ngIf="f.empName.errors.required">Employee Name is Required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="holidayList" for="holidayList" cssClass="required">Holiday List</label>
                        <input class="form-control" type="hidden" path="holidayList" />
                        <select formControlName="holidayList" class="form-control" id="yearpicker" [ngClass]="{ 'is-invalid': submitted && f.holidayList.errors }" name="holidayList">
                            <option value="" hidden> - Select the Year - </option>
                            <option value="null"> - Select the Year - </option>
                            <option *ngFor="let system of listsystemproperties" [value]="system.description">
                                {{system.description}}</option>
                        </select>
                        <div *ngIf="submitted && f.holidayList.errors" class="invalid-feedback">
                            <div *ngIf="f.holidayList.errors.required">Holiday List is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="empStatus" for="empStatus" cssClass="required">Attendance Status</label>
                        <input class="form-control" type="hidden" path="empStatus" />
                        <select formControlName="empStatus" class="form-control" id="attendanceList" [ngClass]="{ 'is-invalid': submitted && f.empStatus.errors }" name="empStatus">
                            <option value="" hidden > - Select the employee status - </option>
                            <option value="null" > - Select the employee status - </option>
                            <option *ngFor="let system of statussystemproperties" [value]="system.description">
                                {{system.description}}</option>
                        </select>
                        <div *ngIf="submitted && f.empStatus.errors" class="invalid-feedback">
                            <div *ngIf="f.empStatus.errors.required">Attendance Status is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <div class="p-fluid p-grid p-formgrid">
                            <div class="p-field p-col-12 p-md-5">
                                <label path="whDate" for="whDate" cssClass="required">Holiday Date</label>
                                <p-calendar [monthNavigator]="true" [yearNavigator]="true" formControlName="whDate" name="whDate" yearRange="2000:2030" inputId="navigators" [showIcon]="true" inputId="icon"></p-calendar>
                                <div *ngIf="submitted && f.whDate.errors" class="invalid-feedback">
                                    <div *ngIf="f.whDate.errors.required">Holiday Date is Required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="holiday" for="holiday" cssClass="required">Day</label>
                        <input class="form-control" type="hidden" path="holiday" />
                        <select formControlName="holiday" class="form-control" id="holidaysList" [ngClass]="{ 'is-invalid': submitted && f.holiday.errors }" name="holiday">
                            <option value="" hidden > - Select the week day - </option>
                            <option value="null" > - Select the week day - </option>
                            <option *ngFor="let system of daysystemproperties" [value]="system.description">
                                {{system.description}}</option>
                        </select>
                        <div *ngIf="submitted && f.holiday.errors" class="invalid-feedback">
                            <div *ngIf="f.holiday.errors.required">Day is Required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary submit">Submit</button>
                        <button type="button" class="btn btn-warning reset" (click)="onReset()">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</fieldset>
<div class="scrollbar">
    <fieldset class="scheduler-border">

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-12">
                <div class="form-group">
                    <button type="button" class="btn btn-primary submit" style="margin-right: 45px;" (click)="onGeneratePdfReport()">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>Export Pdf
                    </button>
                    <button type="button" class="btn btn-warning reset" (click)="onGenerateExcelReport()">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>Export Excel
                    </button>
                </div>
            </div>
        </div>
        
        <legend class="scheduler-border">Employee Holiday List</legend>
        <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;" [enableFilter]="true" [enableSorting]="true" [pagination]="true" [showToolPanel]="true" [frameworkComponents]="frameworkComponents">
        </ag-grid-angular>
    </fieldset>
</div>