<p style="color: red;">Profit and Loss UNDER WORK!</p>
<div class="scrollbar">
    <div class="sample-loss">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Profit And Loss Statement</legend>
            <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Account</th>
                        <th>Jan 2016</th>
                        <th>Feb 2016</th>
                        <th>Mar 2016</th>
                        <th>Apr 2016</th>
                        <th>May 2016</th>
                        <th>Jun 2016</th>
                        <th>Jul 2016</th>
                        <th>Aug 2016</th>
                        <th>Sept 2016</th>
                        <th>Oct 2016</th>
                        <th>Nov 2016</th>
                        <th>Dec 2016</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-child-value="hidden 1">
                        <td class="details-control"></td>
                        <td>Income</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr data-child-value="hidden 2" style="font-weight: bold;">
                        <td></td>
                        <td>Total Income Credit</td>
                        <td>$ 0.00</td>
                        <td>$ 0.00</td>
                        <td>$ 0.00</td>
                        <td>$ 0.00</td>
                        <td>$ 512.00</td>
                        <td>$ 4548.00</td>
                        <td>$ 0.00</td>
                        <td>$ 0.00</td>
                        <td>$ 0.00</td>
                        <td>$ 258139.00</td>
                        <td>$ 0.00</td>
                        <td>$ 0.00</td>
                        <td>$ 263199.02</td>
                    </tr>
                    <tr data-child-value="hidden 3">
                        <td class="details-control3"></td>
                        <td>Expenses</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr data-child-value="hidden 4" style="font-weight: bold;">
                        <td></td>
                        <td>Total Expense(Debit)</td>
                        <td>$ 6144.00</td>
                        <td>$ 10000.00</td>
                        <td>$ 0.00</td>
                        <td>$ 0.00</td>
                        <td>$ 7378.00</td>
                        <td>$ 15794.80</td>
                        <td>$ 4915.00</td>
                        <td>$ 4000.00</td>
                        <td>$ 0.00</td>
                        <td>$ 719782.60</td>
                        <td>$ 0.00</td>
                        <td>$ 0.00</td>
                        <td>$ 768014.00</td>
                    </tr>
                    <tr data-child-value="hidden 4" style="color: red">
                        <td></td>
                        <td>Net Profit / Loss</td>
                        <td>$ -6144.00</td>
                        <td>$ -10000.00</td>
                        <td>$ 0.00</td>
                        <td>$ 0.00</td>
                        <td>$ -6866.00</td>
                        <td>$ -11246.00</td>
                        <td>$ -4915.00</td>
                        <td>$ -4000.00</td>
                        <td>$ 0.00</td>
                        <td>$ -461643.00</td>
                        <td>$ 0.00</td>
                        <td>$ 0.00</td>
                        <td>$ -504815.38</td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
</div>