<fieldset class="scheduler-border">
    <legend class="scheduler-border">Add New Product</legend>
    <div class="formData">
        <form [formGroup]="bundleForm" (ngSubmit)="onOrderClick($event,bundleForm)">
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <input type="hidden" class="form-control" path="pbundId" />
                        <label path="itemCode" for="series" cssClass="required">Item</label>
                        <input class="form-control" type="hidden" path="itemCode" />
                        <select class="form-control" id="itemList" formControlName="itemCode" name="itemCode" [ngClass]="{ 'is-invalid': submitted && f.itemCode.errors }">
                            <option value="" hidden> - Select Item - </option>
                            <option value="null" > - Select Item - </option>
                            <option *ngFor="let items of itemlist" [value]="items.itemcode">
                                {{items.itemcode}}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.itemCode.errors" class="invalid-feedback">
                            <div *ngIf="f.itemCode.errors.required">Item is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="childItem" for="series" cssClass="required">Child Item</label>
                        <input class="form-control" path="childItem" formControlName="childItem" name="childItem" [ngClass]="{ 'is-invalid': submitted && f.childItem.errors }" />
                        <div *ngIf="submitted && f.childItem.errors" class="invalid-feedback">
                            <div *ngIf="f.childItem.errors.required">Child Item is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="quantity" for="status" cssClass="required">Quantity</label>
                        <input class="form-control" path="quantity" formControlName="quantity" name="quantity" [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }" mask="0*.00" />
                        <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
                            <div *ngIf="f.quantity.errors.required">Quantity is Required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="description" for="reason" cssClass="required">Description</label>
                        <textarea class="form-control" path="description" name="description" rows="5" cols="30" formControlName="description" name="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                            <div *ngIf="f.description.errors.required">Description is Required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary submit">Submit</button>
                        <button type="button" class="btn btn-warning reset" (click)="onReset()">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</fieldset>
<div class="scrollbar">
    <div class="sample">
        <fieldset class="scheduler-border">

            <div class="row" style="margin-bottom: 20px;">
                <div class="col-sm-12">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary submit" style="margin-right: 45px;"
                            (click)="onGeneratePdfReport()">
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>Export Pdf
                        </button>
                        <button type="button" class="btn btn-warning reset" (click)="onGenerateExcelReport()">
                            <i class="fa fa-file-excel-o" aria-hidden="true"></i>Export Excel
                        </button>
                    </div>
                </div>
            </div>

        
            <legend class="scheduler-border">Product Bundle List</legend>
            <div class="boxData">
                <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;" [enableFilter]="true" [enableSorting]="true" [pagination]="true" [showToolPanel]="true" [frameworkComponents]="frameworkComponents">
                </ag-grid-angular>
            </div>
        </fieldset>
    </div>
</div>