<div class="manu-breadcrumb">
    <app-breadcrumb></app-breadcrumb>
</div>
<fieldset class="scheduler-border">
    <legend class="scheduler-border">File Details</legend>
    <div class="formData">
        <form #fileManage="ngForm">
            <div class="row">
                <div class="col-xs-6 col-sm-6">
                    <div class="form-group">
                        <label>File Upload:</label>
                        <select class="form-control" name="category" id="category" [(ngModel)]="category">
                            <option value="Select"> - Select File category - </option>
                            <option value="Employee">Employee</option>
                            <option value="Customer">Customer</option>
                            <option value="Buyer">Buyer</option>
                            <option value="Seller">Seller</option>
                            <option value="Supplier">Supplier</option>
                            <option value="Stock">Stock</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <div class="form-group">
                        <label>Choose a file:</label>
                        <input type="file" #fileInput (change)="onFileSelected($event)" />
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary submit" (click)="onSubmitClick($event,fileInput)">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</fieldset>
<fieldset class="scheduler-border">

    <div class="row" style="margin-bottom: 20px;">
        <div class="col-sm-12">
            <div class="form-group">
                <button type="button" class="btn btn-primary submit" style="margin-right: 45px;" (click)="onGeneratePdfReport()">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>Export Pdf
                </button>
                <button type="button" class="btn btn-warning reset" (click)="onGenerateExcelReport()">
                    <i class="fa fa-file-excel-o" aria-hidden="true"></i>Export Excel
                </button>
            </div>
        </div>
    </div>


    <legend class="scheduler-border">File Details</legend>
    <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;" [enableFilter]="true" [enableSorting]="true" [pagination]="true" [showToolPanel]="true" [frameworkComponents]="frameworkComponents">
    </ag-grid-angular>
</fieldset>