<fieldset class="scheduler-border">
    <legend class="scheduler-border">Add Job Applicant</legend>
    <div class="formData">
        <form [formGroup]="jobAppForm" (ngSubmit)="onOrderClick($event,jobAppForm)">
            <div class="row">
                <div class="col-xs-6 col-sm-6 ">
                    <div class="form-group">
                        <input type="hidden" class="form-control" path="appId" />
                        <label for="jobName">Applicant Name</label>
                        <input class="form-control" path="applicantName" name="applicantName" formControlName="applicantName" [ngClass]="{ 'is-invalid': submitted && f.applicantName.errors }" />
                        <div *ngIf="submitted && f.applicantName.errors" class="invalid-feedback">
                            <div *ngIf="f.applicantName.errors.required">Applicant Name is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 ">
                    <div class="form-group">
                        <input type="hidden" class="form-control" path="status" />
                        <label for="jobstatus">Job Status</label>
                        <select class="form-control" name="jobappstatus" id="jobappstatus" name="status" formControlName="status" [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
                            <option value="" hidden> - Select the Status - </option>
                            <option value="null" > - Select the Status - </option>
                            <option *ngFor="let system of itsystemproperties" [value]="system.description">
                                {{system.description}}</option>
                        </select>
                        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                            <div *ngIf="f.status.errors.required">Job Status is Required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6">
                    <div class="form-group">
                        <input class="form-control" type="hidden" path="jobId" />
                        <input class="form-control" type="hidden" path="jobName" />
                        <label for="deptName">Job Title</label>
                        <select class="form-control" name="joblist" id="joblist" name="jobName" formControlName="jobName" [ngClass]="{ 'is-invalid': submitted && f.jobName.errors }">
                            <option value="" hidden> - Select the Job - </option>
                            <option value="null"> - Select the Job - </option>
                            <option *ngFor="let job of jobOpening" [value]="job.jobName">
                                {{job.jobName}}</option>
                        </select>
                        <div *ngIf="submitted && f.jobName.errors" class="invalid-feedback">
                            <div *ngIf="f.jobName.errors.required">Job Title is Required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary submit">Submit</button>
                        <button type="button" class="btn btn-warning reset" (click)="onReset()">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</fieldset>
<fieldset class="scheduler-border">

    <div class="row" style="margin-bottom: 20px;">
        <div class="col-sm-12">
            <div class="form-group">
                <button type="button" class="btn btn-primary submit" style="margin-right: 45px;" (click)="onGeneratePdfReport()">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>Export Pdf
                </button>
                <button type="button" class="btn btn-warning reset" (click)="onGenerateExcelReport()">
                    <i class="fa fa-file-excel-o" aria-hidden="true"></i>Export Excel
                </button>
            </div>
        </div>
    </div>
    
    <legend class="scheduler-border">List Of Job Applicants</legend>
    <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;" [enableFilter]="true" [enableSorting]="true" [pagination]="true" [showToolPanel]="true" [frameworkComponents]="frameworkComponents">
    </ag-grid-angular>
</fieldset>