<div class="card">
    <!-- <div class="chart" > -->
        <!-- style="margin-left: 5px; margin-top: 61px;" -->
        <!-- <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [grid]="chartOptions.grid"
            [plotOptions]="chartOptions.plotOptions" [responsive]="chartOptions.responsive">
        </apx-chart> -->
        <!-- <div id="chart"> -->
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [labels]="chartOptions.labels"
                [responsive]="chartOptions.responsive"></apx-chart>
        </div>
    <!-- </div> -->
<!-- </div> -->