<fieldset class="scheduler-border">
    <legend class="scheduler-border">Add New Sales Customer</legend>
    <div class="formData">
        <form [formGroup]="CustomersForm" (ngSubmit)="onOrderClick($event,CustomersForm)">
            <div class="row">
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <input type="hidden" class="form-control" path="custId" />
                        <label path="customername" for="series" cssClass="required">Customer Name</label>
                        <input class="form-control" type="hidden" path="customername" />
                        <select class="form-control" id="customerNameList" name="customername"
                            formControlName="customername"
                            [ngClass]="{ 'is-invalid': submitted && f.customername.errors }">
                            <option value="" hidden> - Select the Customer - </option>
                            <option value="null"> - Select the Customer - </option>
                            <option *ngFor="let system of vsystemproperties" [value]="system.description">
                                {{system.description}}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.customername.errors" class="invalid-feedback">
                            <div *ngIf="f.customername.errors.required">Customer Name is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="status" for="series" cssClass="required">Status</label>
                        <input class="form-control" type="hidden" path="status" />
                        <select class="form-control" name="crmsalescustst" id="crmsalescustst" name="status"
                            formControlName="status" [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
                            <option value="" hidden> - Select Status - </option>
                            <option value="null"> - Select Status - </option>
                            <option *ngFor="let system of systemproperties" [value]="system.description">
                                {{system.description}}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                            <div *ngIf="f.status.errors.required">Status is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="customergroup" for="series" cssClass="required">Customer Group</label>
                        <input class="form-control" type="hidden" path="customergroup" />
                        <select class="form-control" id="customergroupList" name="customergroup"
                            formControlName="customergroup"
                            [ngClass]="{ 'is-invalid': submitted && f.customergroup.errors }">
                            <option value="" hidden> - Select the Customer Group - </option>
                            <option value="null"> - Select the Customer Group - </option>
                            <option *ngFor="let system of vsystemproperties" [value]="system.description">
                                {{system.description}}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.customergroup.errors" class="invalid-feedback">
                            <div *ngIf="f.customergroup.errors.required">Customer Group is Required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary submit">Submit</button>
                        <button type="button" class="btn btn-warning reset" (click)="onReset()">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</fieldset>
<div class="scrollbar">
    <fieldset class="scheduler-border">

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-12">
                <div class="form-group">
                    <button type="button" class="btn btn-primary submit" style="margin-right: 45px;"
                        (click)="onGeneratePdfReport()">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>Export Pdf
                    </button>
                    <button type="button" class="btn btn-warning reset" (click)="onGenerateExcelReport()">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>Export Excel
                    </button>
                </div>
            </div>
        </div>

        <legend class="scheduler-border">Customer Details</legend>
        <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;"
            [enableFilter]="true" [enableSorting]="true" [pagination]="true" [showToolPanel]="true"
            [frameworkComponents]="frameworkComponents">
        </ag-grid-angular>
    </fieldset>
</div>