<!-- <div class="card">
    <div class="chart" style="margin-left: 17px; margin-top: 12px;">
       <div class= widget-chart-wrapper widget-chart-wrapper-lg opacity-10 m-0>
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
            [grid]="chartOptions.grid" [stroke]="chartOptions.stroke" [title]="chartOptions.title"
            [markers]="chartOptions.markers" [yaxis]="chartOptions.yaxis" [fill]="chartOptions.fill">
        </apx-chart>
    </div>
</div>
</div> -->


<div class="card">
    <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [grid]="chartOptions.grid"
        [stroke]="chartOptions.stroke"
        [title]="chartOptions.title"
        [markers]="chartOptions.markers"
        [yaxis]="chartOptions.yaxis"
        [fill]="chartOptions.fill"
    >
    </apx-chart>
</div>
