<fieldset class="scheduler-border">
    <legend class="scheduler-border">Add Installation Note</legend>
    <div class="formData">
        <form [formGroup]="instalsForm" (ngSubmit)="onOrderClick($event,instalsForm)">
            <div class="row">
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <input type="hidden" class="form-control" path="instId" />
                        <label path="Name" for="Name" cssClass="required">Name</label>
                        <input class="form-control" path="name" name="name" formControlName="name"
                            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Name is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="status" for="status" cssClass="required">Status</label>
                        <input class="form-control" type="hidden" path="status" />
                        <select class="form-control" name="installstatus" id="installstatus" name="status"
                            formControlName="status" [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
                            <option value="" hidden> - Select Status - </option>
                            <option value="null"> - Select Status - </option>
                            <option *ngFor="let system of systemproperties " [value]="system.description">
                                {{system.description}}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                            <div *ngIf="f.status.errors.required">Status is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="remark" for="remark" cssClass="required">Remark</label>
                        <textarea placeholder="" class="form-control" path="remark" name="remark" rows="1" cols="30"
                            name="remark" formControlName="remark"
                            [ngClass]="{ 'is-invalid': submitted && f.remark.errors }"></textarea>
                        <div *ngIf="submitted && f.remark.errors" class="invalid-feedback">
                            <div *ngIf="f.remark.errors.required">Remark is Required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="instCode" for="series" cssClass="required">Installation Code</label>
                        <input class="form-control" path="instCode" name="instCode" formControlName="instCode"
                            [ngClass]="{ 'is-invalid': submitted && f.instCode.errors }" />
                        <div *ngIf="submitted && f.instCode.errors" class="invalid-feedback">
                            <div *ngIf="f.instCode.errors.required">Installation Code is Required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary submit">Submit</button>
                        <button type="button" class="btn btn-warning reset" (click)="onReset()">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</fieldset>
<fieldset class="scheduler-border">

    <div class="row" style="margin-bottom: 20px;">
        <div class="col-sm-12">
            <div class="form-group">
                <button type="button" class="btn btn-primary submit" style="margin-right: 45px;"
                    (click)="onGeneratePdfReport()">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>Export Pdf
                </button>
                <button type="button" class="btn btn-warning reset" (click)="onGenerateExcelReport()">
                    <i class="fa fa-file-excel-o" aria-hidden="true"></i>Export Excel
                </button>
            </div>
        </div>
    </div>

    <legend class="scheduler-border">Installation Note</legend>
    <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;"
        [enableFilter]="true" [enableSorting]="true" [pagination]="true" [showToolPanel]="true"
        [frameworkComponents]="frameworkComponents">
    </ag-grid-angular>
</fieldset>