<fieldset class="scheduler-border">
    <legend class="scheduler-border">Add New Reconciliation Statement</legend>
    <div class="formData">
        <form [formGroup]="bankReconForm" (ngSubmit)="onOrderClick($event,bankReconForm)">
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <input type="hidden" class="form-control" path="bankrecId" />
                        <label path="bankAccount" for="bankAccount" cssClass="required">Bank Account</label>
                        <input class="form-control" type="hidden" path="bankAccount" />
                        <select formControlName="bankAccount" class="form-control" id="accountNameList" [ngClass]="{ 'is-invalid': submitted && f.bankAccount.errors }" name="bankAccount">
                            <option value="" hidden> - Select the Account Name - </option>
                            <option value="null"> - Select the Account Name - </option>
                            <option *ngFor="let system of basystemproperties" [value]="system.description">
                                {{system.description}}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.bankAccount.errors" class="invalid-feedback">
                            <div *ngIf="f.bankAccount.errors.required">Bank Account is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <div class="p-fluid p-grid p-formgrid">
                            <div class="p-field p-col-12 p-md-5">
                                <label path="postingDate" for="postingDate" cssClass="required">Posting Date</label>
                                <p-calendar [monthNavigator]="true" [yearNavigator]="true" formControlName="postingDate" name="postingDate" yearRange="2000:2030" inputId="navigators" [showIcon]="true" inputId="icon">
                                </p-calendar>
                                <div *ngIf="submitted && f.postingDate.errors" class="invalid-feedback">
                                    <div *ngIf="f.postingDate.errors.required">Posting Date is Required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="entrySeries" for="entrySeries" cssClass="required">Payment Entry</label>
                        <input class="form-control" type="hidden" path="entrySeries" />
                        <select formControlName="entrySeries" class="form-control" id="paymententryList" [ngClass]="{ 'is-invalid': submitted && f.entrySeries.errors }" name="entrySeries">
                            <option value="" hidden> - Select the Payment Entry- </option>
                            <option value="null" > - Select the Payment Entry- </option>
                            <option *ngFor="let payment of payments" [value]="payment.entrySeries">
                                {{payment.entrySeries}}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.entrySeries.errors" class="invalid-feedback">
                            <div *ngIf="f.entrySeries.errors.required">Payment Entry is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="debit" for="debit" cssClass="required">Debit</label>
                        <input formControlName="debit" class="form-control" path="debit" [ngClass]="{ 'is-invalid': submitted && f.debit.errors }" name="debit" mask="0*.00" />
                        <div *ngIf="submitted && f.debit.errors" class="invalid-feedback">
                            <div *ngIf="f.debit.errors.required">Debit is Required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="credit" for="credit" cssClass="required">Credit</label>
                        <input formControlName="credit" class="form-control" path="credit" [ngClass]="{ 'is-invalid': submitted && f.credit.errors }" name="credit" mask="0*.00" />
                        <div *ngIf="submitted && f.credit.errors" class="invalid-feedback">
                            <div *ngIf="f.credit.errors.required">Credit is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="againstAccount" for="againstAccount" cssClass="required">Against Account
                        </label>
                        <input class="form-control" type="hidden" path="againstAccount" />
                        <select formControlName="againstAccount" class="form-control" id="againstaccList" [ngClass]="{ 'is-invalid': submitted && f.againstAccount.errors }" name="againstAccount">
                            <option value="" hidden> - Select the Account holder - </option>
                            <option value="null"> - Select the Account holder - </option>
                            <option *ngFor="let system of dummysystemproperties" [value]="system.description">
                                {{system.description}}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.againstAccount.errors" class="invalid-feedback">
                            <div *ngIf="f.againstAccount.errors.required">Against Account is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="referenceName" for="referenceName" cssClass="required">Reference Name
                        </label>
                        <input formControlName="referenceName" class="form-control" path="referenceName" [ngClass]="{ 'is-invalid': submitted && f.referenceName.errors }" name="referenceName" />
                        <div *ngIf="submitted && f.referenceName.errors" class="invalid-feedback">
                            <div *ngIf="f.referenceName.errors.required">Reference Name is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <div class="p-fluid p-grid p-formgrid">
                            <div class="p-field p-col-12 p-md-5">
                                <label path="referenceDate" for="referenceDate" cssClass="required">Reference
                                    Date</label>
                                <p-calendar [monthNavigator]="true" [yearNavigator]="true" formControlName="referenceDate" name="referenceDate" yearRange="2000:2030" inputId="navigators" [showIcon]="true" inputId="icon">
                                </p-calendar>
                                <div *ngIf="submitted && f.referenceDate.errors" class="invalid-feedback">
                                    <div *ngIf="f.referenceDate.errors.required">Reference Date is Required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <div class="p-fluid p-grid p-formgrid">
                            <div class="p-field p-col-12 p-md-5">
                                <label path="clearanceDate" for="clearanceDate" cssClass="required">Clearance
                                    Date</label>
                                <p-calendar [monthNavigator]="true" [yearNavigator]="true" formControlName="clearanceDate" name="clearanceDate" yearRange="2000:2030" inputId="navigators" [showIcon]="true" inputId="icon">
                                </p-calendar>
                                <div *ngIf="submitted && f.clearanceDate.errors" class="invalid-feedback">
                                    <div *ngIf="f.clearanceDate.errors.required">Clearance Date is Required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="currency" for="currency" cssClass="required">Currency</label>
                        <input class="form-control" type="hidden" path="currency" />
                        <select formControlName="currency" class="form-control" id="CurrencyList" [ngClass]="{ 'is-invalid': submitted && f.currency.errors }" name="currency" mask="0*.00">
                            <option value="" hidden> - Select the Currency Type- </option>
                            <option value="null"> - Select the Currency Type- </option>
                            <option *ngFor="let system of cusystemproperties" [value]="system.description">
                                {{system.description}}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.currency.errors" class="invalid-feedback">
                            <div *ngIf="f.currency.errors.required">Currency is Required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary submit">Submit</button>
                        <button type="button" class="btn btn-warning reset" (click)="onReset()">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</fieldset>
<div class="scrollbar">
    <fieldset class="scheduler-border">

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-12">
                <div class="form-group">
                    <button type="button" class="btn btn-primary submit" style="margin-right: 45px;" (click)="onGeneratePdfReport()">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>Export Pdf
                    </button>
                    <button type="button" class="btn btn-warning reset" (click)="onGenerateExcelReport()">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>Export Excel
                    </button>
                </div>
            </div>
        </div>

        <legend class="scheduler-border">Bank Reconciliation Statement</legend>
        <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;" [enableFilter]="true" [enableSorting]="true" [pagination]="true" [showToolPanel]="true" [frameworkComponents]="frameworkComponents">
        </ag-grid-angular>
    </fieldset>
</div>