<fieldset class="scheduler-border">
    <legend class="scheduler-border">Add New Purchase Register</legend>
    <div class="formData">
        <form [formGroup]="purchaseForm" (ngSubmit)="onOrderClick($event,purchaseForm)">
            <div class="row">

                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <div class="p-fluid p-grid p-formgrid">
                            <div class="p-field p-col-12 p-md-5">
                                <label path="postingDate" for="postingDate" cssClass="required">Posting Date</label>
                                <p-calendar [monthNavigator]="true" [yearNavigator]="true" formControlName="postingDate" name="postingDate" yearRange="2000:2030" inputId="navigators" [showIcon]="true" inputId="icon">
                                </p-calendar>
                                <div *ngIf="submitted && f.postingDate.errors" class="invalid-feedback">
                                    <div *ngIf="f.postingDate.errors.required">Posting Date is Required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="invoice" for="invoice" cssClass="required">Invoice</label>
                        <input class="form-control" path="invoice" name="invoice" formControlName="invoice" [ngClass]="{ 'is-invalid': submitted && f.invoice.errors }" />
                        <div *ngIf="submitted && f.invoice.errors" class="invalid-feedback">
                            <div *ngIf="f.invoice.errors.required">Invoice Code is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <input class="form-control" path="supName" id="supName" type="hidden" />
                        <label for="supName" path="supName" cssClass="required">Supplier</label>
                        <select class="form-control" name="supplist" id="supplist" name="supName" formControlName="supName" [ngClass]="{ 'is-invalid': submitted && f.supName.errors }">
                            <option value="" hidden> - Select the Supplier - </option>
                            <option value="null"> - Select the Supplier - </option>
                            <option *ngFor="let system of supsystemproperties" [value]="system.description">
                                {{system.description}}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.supName.errors" class="invalid-feedback">
                            <div *ngIf="f.supName.errors.required">Supplier is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <input class="form-control" path="supType" id="supType" type="hidden" />
                        <label for="supType" path="supType" cssClass="required">Supplier Type</label>
                        <select class="form-control" id="supptypeList" name="supType" formControlName="supType" [ngClass]="{ 'is-invalid': submitted && f.supType.errors }">
                            <option value="" hidden> - Select the Supplier Type - </option>
                            <option value="null" > - Select the Supplier Type - </option>
                            <option *ngFor="let system of stsystemproperties" [value]="system.description">
                                {{system.description}}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.supType.errors" class="invalid-feedback">
                            <div *ngIf="f.supType.errors.required">Supplier Type is Required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="accountType" for="accountType" cssClass="required">Account</label>
                        <input class="form-control" type="hidden" path="accountType" />
                        <select class="form-control" id="accountsNameList" name="accountType" formControlName="accountType" [ngClass]="{ 'is-invalid': submitted && f.accountType.errors }" mask="0*.00">
                            <option value="" hidden> - Select the Account Type - </option>
                            <option value="null" > - Select the Account Type - </option>
                            <option *ngFor="let system of accsystemproperties" [value]="system.description">
                                {{system.description}}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.accountType.errors" class="invalid-feedback">
                            <div *ngIf="f.accountType.errors.required">Account is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="paymentMode" for="paymentMode" cssClass="required">Payment Mode</label>
                        <input class="form-control" type="hidden" path="paymentMode" />
                        <select class="form-control" id="paymodesList" name="paymentMode" formControlName="paymentMode" [ngClass]="{ 'is-invalid': submitted && f.paymentMode.errors }">
                            <option value="" hidden> - Select the Payment Mode - </option>
                            <option value="null" > - Select the Payment Mode - </option>
                            <option *ngFor="let system of pmsystemproperties" [value]="system.description">
                                {{system.description}}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.paymentMode.errors" class="invalid-feedback">
                            <div *ngIf="f.paymentMode.errors.required">Payment Mode is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="projectname" for="projectname" cssClass="required">Project</label>
                        <input class="form-control" type="hidden" path="projectname" />
                        <select class="form-control" id="projectList" name="projectname" formControlName="projectname" [ngClass]="{ 'is-invalid': submitted && f.projectname.errors }">
                            <option value="" hidden> - Select the project- </option>
                            <option value="null"> - Select the project- </option>
                            <option *ngFor="let system of dummysystemproperties" [value]="system.description">
                                {{system.description}}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.projectname.errors" class="invalid-feedback">
                            <div *ngIf="f.projectname.errors.required">Project is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="billNo" for="billNo" cssClass="required">Bill Number</label>
                        <input class="form-control" path="billNo" name="billNo" formControlName="billNo" [ngClass]="{ 'is-invalid': submitted && f.billNo.errors }" mask="0*.00" />
                        <div *ngIf="submitted && f.billNo.errors" class="invalid-feedback">
                            <div *ngIf="f.billNo.errors.required">Bill Number is Required</div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <div class="p-fluid p-grid p-formgrid">
                            <div class="p-field p-col-12 p-md-5">
                                <label path="billDate" for="billDate" cssClass="required">Bill Date</label>
                                <p-calendar [monthNavigator]="true" [yearNavigator]="true" formControlName="billDate" name="billDate" yearRange="2000:2030" inputId="navigators" [showIcon]="true" inputId="icon">
                                </p-calendar>
                                <div *ngIf="submitted && f.billDate.errors" class="invalid-feedback">
                                    <div *ngIf="f.billDate.errors.required"> Bill Date is Required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="poSeries" for="poSeries" cssClass="required">Purchase Order</label>
                        <input class="form-control" type="hidden" path="poSeries" />
                        <select class="form-control" id="purchaseordList" name="poSeries" formControlName="poSeries" [ngClass]="{ 'is-invalid': submitted && f.poSeries.errors }">
                            <option value="" hidden> - Select the Purchase Order- </option>
                            <option value="null" > - Select the Purchase Order- </option>
                            <option *ngFor="let system of dummysystemproperties" [value]="system.description">
                                {{system.description}}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.poSeries.errors" class="invalid-feedback">
                            <div *ngIf="f.poSeries.errors.required">Purchase Order is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="purecpt" for="purecpt" cssClass="required">Purchase Receipt</label>
                        <input class="form-control" path="purecpt" name="purecpt" formControlName="purecpt" [ngClass]="{ 'is-invalid': submitted && f.purecpt.errors }" />
                        <div *ngIf="submitted && f.purecpt.errors" class="invalid-feedback">
                            <div *ngIf="f.purecpt.errors.required">Purchase Receipt is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="currency" for="currency" cssClass="required">Currency</label>
                        <input class="form-control" type="hidden" path="currency" />
                        <select class="form-control" id="CurrencyList" name="currency" formControlName="currency" [ngClass]="{ 'is-invalid': submitted && f.currency.errors }" mask="0*.00">
                            <option value="" hidden> - Select the Currency Type- </option>
                            <option value="null"> - Select the Currency Type- </option>
                            <option *ngFor="let system of cursystemproperties" [value]="system.description">
                                {{system.description}}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.currency.errors" class="invalid-feedback">
                            <div *ngIf="f.currency.errors.required">Currency is Required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="furnituresCount" for="salesCode">Furnitures Count</label>
                        <input class="form-control" path="furnituresCount" name="furnituresCount" formControlName="furnituresCount" [ngClass]="{ 'is-invalid': submitted && f.furnituresCount.errors }" />
                        <div *ngIf="submitted && f.furnituresCount.errors" class="invalid-feedback">
                            <div *ngIf="f.furnituresCount.errors.required">Furnitures Count is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="softwaresCount" for="softwaresCount">Softwares Count</label>
                        <input class="form-control" path="softwaresCount" name="softwaresCount" formControlName="softwaresCount" [ngClass]="{ 'is-invalid': submitted && f.softwaresCount.errors }" />
                        <div *ngIf="submitted && f.softwaresCount.errors" class="invalid-feedback">
                            <div *ngIf="f.softwaresCount.errors.required">Softwares Count is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="stkrecBalance" for="stkrecBalance">Stock Balance</label>
                        <input class="form-control" path="stkrecBalance" name="stkrecBalance" formControlName="stkrecBalance" [ngClass]="{ 'is-invalid': submitted && f.stkrecBalance.errors }" />
                        <div *ngIf="submitted && f.stkrecBalance.errors" class="invalid-feedback">
                            <div *ngIf="f.stkrecBalance.errors.required">Stock Balance is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="netTotal" for="netTotal">Net Total</label>
                        <input class="form-control" id="netTotal" path="netTotal" name="netTotal" formControlName="netTotal" [ngClass]="{ 'is-invalid': submitted && f.netTotal.errors }" mask="0*.00" />
                        <div *ngIf="submitted && f.netTotal.errors" class="invalid-feedback">
                            <div *ngIf="f.netTotal.errors.required">Net Total is Required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="totalTax" for="netTotal">Total Tax</label>
                        <input class="form-control" id="totalTax" path="totalTax" name="totalTax" formControlName="totalTax" [ngClass]="{ 'is-invalid': submitted && f.totalTax.errors }" mask="0*.00" />
                        <div *ngIf="submitted && f.totalTax.errors" class="invalid-feedback">
                            <div *ngIf="f.totalTax.errors.required">Total Tax is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="grandTotal" for="grandTotal">Grand Total</label>
                        <input class="form-control" id="grandTotal" path="grandTotal" name="grandTotal" formControlName="grandTotal" [ngClass]="{ 'is-invalid': submitted && f.grandTotal.errors }" mask="0*.00" />
                        <div *ngIf="submitted && f.grandTotal.errors" class="invalid-feedback">
                            <div *ngIf="f.grandTotal.errors.required">Grand Total is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="roundTotal" for="roundTotal">Rounded Total</label>
                        <input class="form-control" id="roundTotal" path="roundTotal" name="roundTotal" formControlName="roundTotal" [ngClass]="{ 'is-invalid': submitted && f.roundTotal.errors }" mask="0*.00" />
                        <div *ngIf="submitted && f.roundTotal.errors" class="invalid-feedback">
                            <div *ngIf="f.roundTotal.errors.required">Rounded Total is Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 ">
                    <div class="form-group">
                        <label path="outstandAmt" for="outstandAmt">OutstandingAmt</label>
                        <input class="form-control" path="outstandAmt" name="outstandAmt" formControlName="outstandAmt" [ngClass]="{ 'is-invalid': submitted && f.outstandAmt.errors }" mask="0*.00" />
                        <div *ngIf="submitted && f.outstandAmt.errors" class="invalid-feedback">
                            <div *ngIf="f.outstandAmt.errors.required">Outstanding Amount is Required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3">
                    <div class="form-group">
                        <label path="remarks" for="remarks" cssClass="required">Remarks</label>
                        <textarea class="form-control" path="remarks" name="remarks" rows="5" cols="30" name="remarks" formControlName="remarks" [ngClass]="{ 'is-invalid': submitted && f.remarks.errors }">
                        </textarea>
                        <div *ngIf="submitted && f.remarks.errors" class="invalid-feedback">
                            <div *ngIf="f.remarks.errors.required">Remarks is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary submit">Submit</button>
                        <button type="button" class="btn btn-warning reset" (click)="onReset()">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</fieldset>
<div class="scrollbar">
    <fieldset class="scheduler-border">

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-12">
                <div class="form-group">
                    <button type="button" class="btn btn-primary submit" style="margin-right: 45px;" (click)="onGeneratePdfReport()">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>Export Pdf
                    </button>
                    <button type="button" class="btn btn-warning reset" (click)="onGenerateExcelReport()">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>Export Excel
                    </button>
                </div>
            </div>
        </div>

        <legend class="scheduler-border">Purchase Register</legend>
        <ag-grid-angular #agGrid class="ag-theme-balham" [gridOptions]="gridOptions" style="width: 100%; height: 350px;" [enableFilter]="true" [enableSorting]="true" [pagination]="true" [showToolPanel]="true" [frameworkComponents]="frameworkComponents">
        </ag-grid-angular>
    </fieldset>
</div>