<h3 style="color: red;">UNDER CONSTRUCTION</h3>
<div class="scrollbar">
    <div class="sample">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Customer Group Tree</legend>
            <div class="boxData">
                <ul class="collapsibleList">
                    <li style="font-weight: bold;">
                        All Customer Groups
                        <ul>
                            <li><a href="#">Commercial</a></li>
                            <li><a href="#">Government</a></li>
                            <li><a href="#">Individual</a></li>
                            <li><a href="#">Non Profit</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </fieldset>
    </div>
</div>